@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using  Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<style>
    body {
        background-color: @Configuration["WebDemo:Settings:BackgroundColor"]
    }
    h1 {
        font-size: @Configuration["WebDemo:Settings:FontSize"]
    }
</style>

<div class="text-center">
    <h1>@Configuration["WebDemo:Settings:Message"]</h1>
</div>
